<div class="row">
<div class="container">
<div class="col-sm-2">Način prikaza:</div>
<div class="col-sm-10">
{% for k, e in reduce_functions.items() | sort(attribute="0") %}
    <label class=radio-inline title="{{ e['desc'] }}"><input type="radio" name="rf" value="{{ k }}">{{ e["simple_name"] }}</label>
{% endfor %}
</div>
</div>
</div>